<a href="https://colab.research.google.com/github/XTMay/python-data-science-course/blob/main/notebooks/Lec_1_Python_Basics_for_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lesson 01: Python Basics for Data Science

**ç›®æ ‡**ï¼šæŒæ¡ Python çš„åŸºæœ¬è¯­æ³•ã€å˜é‡ã€æ•°æ®ç»“æ„å’Œæ§åˆ¶æµç¨‹ï¼Œä¸ºåç»­çš„æ•°æ®å¤„ç†å’Œåˆ†ææ‰“ä¸‹åŸºç¡€ã€‚




## ğŸ“š è¯¾ç¨‹æçº²

### 1ï¸âƒ£ Python ç®€ä»‹
#### ğŸ’» ä»€ä¹ˆæ˜¯ Pythonï¼Ÿ

[Welcome to Python](https://www.python.org/)

Python æ˜¯ä¸€ç§é«˜çº§ã€é€šç”¨ã€è§£é‡Šå‹çš„ç¼–ç¨‹è¯­è¨€ï¼Œç”± Guido van Rossum äº 1991 å¹´å‘å¸ƒã€‚å®ƒä»¥è¯­æ³•ç®€æ´ã€æ˜“è¯»æ€§å¼ºã€å¼€å‘æ•ˆç‡é«˜è‘—ç§°ï¼Œéå¸¸é€‚åˆåˆå­¦è€…å…¥é—¨ï¼Œä¹Ÿè¶³ä»¥æ”¯æ’‘å¤§å‹ç³»ç»Ÿå¼€å‘ã€‚

`âœ… ä¸€å¥è¯ç†è§£ï¼šPython å°±åƒè‹±æ–‡ä¸€æ ·è‡ªç„¶ï¼Œå®ƒè®©å†™ä»£ç æ›´æ¥è¿‘äººç±»æ€ç»´ã€‚`

[tutorial](https://docs.python.org/3.15/tutorial/index.html)

#### ğŸ“Š ä¸ºä»€ä¹ˆ Python å¹¿æ³›åº”ç”¨äºæ•°æ®ç§‘å­¦ï¼Ÿ

#### Python has libraries with large collections of mathematical functions and analytical tools.

*   Pandas - This library is used for structured data operations,
like import CSV files, create dataframes, and data preparation
*   Numpy - This is a mathematical library. Has a powerful N-dimensional array object, linear algebra, Fourier transform, etc.
*   Matplotlib - This library is used for visualization of data.
*   SciPy - This library has linear algebra modules
We will use these libraries throughout the tutorial to create examples.

| ä¼˜åŠ¿ | è¯´æ˜ |
|------|------|
| ğŸ“š ä¸°å¯Œçš„ç§‘å­¦è®¡ç®—åº“ | å¦‚ NumPyï¼ˆæ•°å€¼è®¡ç®—ï¼‰ã€pandasï¼ˆæ•°æ®å¤„ç†ï¼‰ã€Matplotlib/Seabornï¼ˆå¯è§†åŒ–ï¼‰ã€scikit-learnï¼ˆæœºå™¨å­¦ä¹ ï¼‰ç­‰ï¼Œä½¿å¾—æ•°æ®å¤„ç†å˜å¾—é«˜æ•ˆè€Œè½»æ¾ã€‚ |
| ğŸ§  å¼ºå¤§çš„ AI / ML æ”¯æŒ | åŒ…æ‹¬ TensorFlowã€PyTorchã€XGBoostã€LightGBM ç­‰æ·±åº¦å­¦ä¹ å’Œå»ºæ¨¡æ¡†æ¶ï¼Œå‡ ä¹æ‰€æœ‰ä¸»æµ AI å·¥å…·éƒ½æœ‰ Python æ¥å£ã€‚ |
| ğŸ› ï¸ ç®€æ´æ˜“å­¦ï¼Œä»£ç å¯è¯»æ€§å¼º | ç›¸æ¯” R æˆ– Javaï¼ŒPython æ›´å®¹æ˜“å­¦ä¹ å’Œç»´æŠ¤ï¼Œéå¸¸é€‚åˆéç¨‹åºå‘˜èƒŒæ™¯çš„æ•°æ®åˆ†æå¸ˆã€ç§‘ç ”äººå‘˜ã€‚ |
| ğŸŒ å¼ºå¤§çš„ç¤¾åŒºå’Œç”Ÿæ€ç³»ç»Ÿ | æ— è®ºæ˜¯åˆå­¦è€…æ•™ç¨‹ã€å¼€æºé¡¹ç›®è¿˜æ˜¯æŠ€æœ¯é—®ç­”ï¼ˆå¦‚ StackOverflowï¼‰ï¼ŒPython çš„æ•°æ®ç§‘å­¦ç¤¾åŒºéå¸¸æ´»è·ƒï¼Œé‡åˆ°é—®é¢˜å®¹æ˜“æ‰¾åˆ°è§£å†³æ–¹æ¡ˆã€‚ |
| ğŸ“ˆ è·¨å¹³å°å’Œå¯æ‰©å±•æ€§ | Python å¯ä»¥åœ¨ Windows / Mac / Linux ä¸Šè¿è¡Œï¼Œä¹Ÿèƒ½ä¸ C/C++/Java ç­‰è¯­è¨€é›†æˆï¼Œéå¸¸çµæ´»ã€‚ |

In [ ]:
print("Hello, Data Science! ğŸ‘‹")

Hello, Data Science! ğŸ‘‹

In [ ]:
print("Hello World!") # Function: print, parameter: "Hello World!"

Hello World!

### 2ï¸âƒ£ å˜é‡ä¸åŸºæœ¬æ•°æ®ç±»å‹

	â€¢	å¸¸è§ç±»å‹ï¼šint, float, str, bool
	â€¢	ç±»å‹æ£€æŸ¥ä¸è½¬æ¢ï¼štype(), int(), float(), str()

In [ ]:
name = "Alice"
age = 28
height = 1.65
is_data_scientist = False

In [ ]:
print(name, age, height, is_data_scientist)

Alice 28 1.65 True

In [ ]:
print(type(name))

<class 'str'>

In [ ]:
print(type(3.14))

<class 'float'>

- True: 1, False: 0

In [ ]:
is_data_scientist = False

In [ ]:
float(is_data_scientist)

0.0

### 	ç”¨æˆ·è¾“å…¥å‡½æ•°ï¼ˆData Collectionï¼‰

In [ ]:
user_name = input("è¯·è¾“å…¥ä½ çš„åå­—ï¼š")
print("æ¬¢è¿åŠ å…¥æ•°æ®ç§‘å­¦ä¸–ç•Œï¼Œ", user_name)

è¯·è¾“å…¥ä½ çš„åå­—ï¼šma
æ¬¢è¿åŠ å…¥æ•°æ®ç§‘å­¦ä¸–ç•Œï¼Œ ma

### 3ï¸âƒ£ å¸¸è§æ•°æ®ç»“æ„

#### ğŸ”¹ Listï¼ˆåˆ—è¡¨ï¼‰â€” æ•°æ®é›†åŸºæœ¬å®¹å™¨

In [ ]:
cities = ["Tokyo", "New York", "London"]

In [ ]:
cities.append("Shanghai") # List use append

In [ ]:
print(cities)

['Tokyo', 'New York', 'London', 'Shanghai']

In [ ]:
cities[2]

'London'

In [ ]:
cities

['Tokyo', 'New York', 'London', 'Shanghai']

In [ ]:
len(cities)

4

In [ ]:
len('Tokyo')

5

In [ ]:
lst_test = [123, "123", 123.45, True]

In [ ]:
lst_test[-1]

True

In [ ]:
lst_test[-2]

123.45

#### ğŸ”¹ Dictï¼ˆå­—å…¸ï¼‰â€” ç±»ä¼¼æ•°æ®åº“ä¸­é”®å€¼ç»“æ„ (key-value)

In [ ]:
person = {"name": "Alice", "age": 28} # key: value(any type)

In [ ]:
person

{'name': 'Alice', 'age': 28}

In [ ]:
print(person["name"])

May

In [ ]:
person["name"] = 'May'

In [ ]:
person

{'name': 'May', 'age': 28}

In [ ]:
dic_test = {1: '1', '2': 2}

In [ ]:
dic_test[1]

'1'

In [ ]:
dic_test = {3.14: '1', 4.23: 2}

In [ ]:
dic_test[3.14]

'1'

In [ ]:
dic_test = {True: 1, False: 0}

In [ ]:
dic_test[True]

1

In [ ]:
dic_test = {"list": {"1": 1, "5": 5}, "dict": {"key": "value", "key2": "value2"}}

In [ ]:
dic_test_2 = {[1, 2, 3]: "test"} # key: int, float, str, bool, value:  any

TypeError: unhashable type: 'list'

- Key: Unique

In [ ]:
person['height'] = 164 # add an item/update

In [ ]:
person

{'name': 'May', 'age': 18, 'height': 164}

In [ ]:
person['age'] = 18

#### ğŸ”¹ Tupleï¼ˆå…ƒç»„ï¼‰& Setï¼ˆé›†åˆï¼‰

In [ ]:
coordinates = (35.6, 139.6) # Tuple ä¸å¯ä¿®æ”¹

In [ ]:
coordinates

(35.6, 139.6)

In [ ]:
coordinates[1]

139.6

In [ ]:
coordinates[1] = 123 # 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

In [ ]:
unique_items = set([1, 2, 2, 3])  # Set è‡ªåŠ¨å»é‡

In [ ]:
unique_items

{1, 2, 3}

### 4ï¸âƒ£ æ§åˆ¶æµç¨‹

#### ğŸ”¸ æ¡ä»¶åˆ¤æ–­ï¼šif / elif / else

In [ ]:
score = 85

In [ ]:
if score >= 90:
    print("ä¼˜ç§€")
elif 60 <= score < 80:
    print("åŠæ ¼")
else:
    print("ä¸åŠæ ¼")

ä¸åŠæ ¼

- condition 1 **AND** condition 2
- condition 1 **OR** condition 2

In [ ]:
True or False

True

In [ ]:
height = 170

In [ ]:
if height > 170 and height < 2:
  print("high")
elif height <= 170 or height > 164: # height < 170 AND height >= 160
  print("medium")
else:
  print("low")

medium

#### ğŸ”¸ å¾ªç¯ç»“æ„ï¼šfor / while

In [ ]:
lst = [1, 2, 3]

In [ ]:
for item in lst:
  print(item)

1
2
3

In [ ]:
for i in range(1, 15, 5):
    print("Data point", i)

Data point 1
Data point 6
Data point 11

In [ ]:
n = 0

In [ ]:
while n < 6:
    print("å¾ªç¯æ¬¡æ•°:", n)
    if n == 4:
      n += 1
      continue

    n += 1
    print('n+1')

å¾ªç¯æ¬¡æ•°: 0
n+1
å¾ªç¯æ¬¡æ•°: 1
n+1
å¾ªç¯æ¬¡æ•°: 2
n+1
å¾ªç¯æ¬¡æ•°: 3
n+1
å¾ªç¯æ¬¡æ•°: 4
å¾ªç¯æ¬¡æ•°: 5
n+1

In [ ]:
# continue/break : continue: skip loop, continue next loop, break: jump

In [ ]:
# åœ¨1 åˆ° 20 ä¹‹é—´ ã€Œ1ï¼Œ 20ã€ï¼Œ å¦‚æœæ˜¯å¶æ•°ï¼ˆ2ï¼Œ 4ï¼Œ 6ï¼Œ 8ï¼Œ 10ï¼‰ï¼Œ(2 * 2)è®¡ç®—è¿™ä¸ªæ•°å­—çš„å¹³æ–¹ï¼Œå¹¶æ‰“å°è¾“å‡º

In [ ]:
for i in range(1, 21):
  if i % 2 == 0:
    print(i, i ** 2)

2 4
4 16
6 36
8 64
10 100
12 144
14 196
16 256
18 324
20 400

In [ ]:
# å¶æ•° n % 2 == 0
i = 2

In [ ]:
for i in range(1, 21): # æ­»å¾ªç¯ 1ï¼Œ 20
  # å¶æ•°
  if i % 2 == 0:
    print(i * i)
  # å¥‡æ•°
  elif i % 2 == 1:
    print(i * i * i)

### 5ï¸âƒ£ è¯¾å ‚ç»ƒä¹

#### âœï¸ ç»ƒä¹  1ï¼šå˜é‡ç»ƒä¹

In [ ]:
name = input("ä½ çš„åå­—ï¼š")
city = input("ä½ æœ€æƒ³å»çš„æ•°æ®åŸå¸‚ï¼š")
print(f"{name} æƒ³æˆä¸ºä¸€ä½åœ¨ {city} å·¥ä½œçš„æ•°æ®ç§‘å­¦å®¶ï¼")

#### âœï¸ ç»ƒä¹  2ï¼šBMI è®¡ç®—å™¨

In [ ]:
def calculate_bmi(weight, height): # function
    return weight / (height ** 2)

bmi = calculate_bmi(60, 1.65)
print("ä½ çš„ BMI ä¸ºï¼š", bmi)

In [ ]:
import pandas as pd

df_movie = pd.read_csv('/content/drive/MyDrive/AI_Lecture/AI_Data_Scientist/dataset/Netflix_Dataset_Movie.csv')
print(df_movie.head())

In [ ]:
# convert df_movie['Year'] to list
lst_year = df_movie['Year'].tolist()
lst_year

In [ ]:
lst_movie = list(df_movie['Year'])
lst_movie

In [ ]:
type(lst_movie)

In [ ]:
# convert df_movie['Name'] df_movie['Year'] as dictionary
movie_dict = df_movie.set_index('Name')['Year'].to_dict()
movie_dict

In [ ]:
df_rating = pd.read_csv('/content/drive/MyDrive/AI_Lecture/AI_Data_Scientist/dataset/Netflix_Dataset_Rating.csv')
print(df_rating.head())

### âœ… æœ¬è¯¾å°ç»“

	â€¢	âœ… Python æ˜¯æ•°æ®ç§‘å­¦çš„æ ¸å¿ƒè¯­è¨€
	â€¢	âœ… æŒæ¡å˜é‡ã€æ•°æ®ç±»å‹ã€è¾“å…¥è¾“å‡º
	â€¢	âœ… ç†Ÿæ‚‰å¸¸ç”¨æ•°æ®ç»“æ„ï¼ˆlist, dict ç­‰ï¼‰
	â€¢	âœ… èƒ½å†™ç®€å•åˆ¤æ–­å’Œå¾ªç¯

In [ ]:
# ç”µå½±æ•°æ®
movies = [
    {"1": "Dinosaur Planet"},
    {"2":"Isle of Man TT 2004 Review"}
]

# è¯„åˆ†æ•°æ®
ratings = [
    {"User_ID": 712664, "Rating": 5, "Movie_ID": 3},
    {"User_ID": 1331154, "Rating": 4, "Movie_ID": 3},
    {"User_ID": 2632461, "Rating": 3, "Movie_ID": 3},
    {"User_ID": 44937, "Rating": 5, "Movie_ID": 3},
    {"User_ID": 656399, "Rating": 4, "Movie_ID": 3},
]

### ğŸ“Œ è¯¾åç»ƒä¹ é¢˜

#### âœ… Q1ï¼šè¾“å‡ºæ‰€æœ‰ç”µå½±åç§°

ç”¨ for å¾ªç¯éå† movies åˆ—è¡¨ï¼Œå¹¶æ‰“å°æ‰€æœ‰ç”µå½±çš„åç§°ï¼ˆName å­—æ®µï¼‰ã€‚

In [ ]:
movies[:10]

[{'1': 'Dinosaur Planet'}, {'2': 'Isle of Man TT 2004 Review'}]

In [ ]:
type(movies[0])

dict

In [ ]:
for movie in movies:
  for key, val in movie.items():
    print(val)

Dinosaur Planet
Isle of Man TT 2004 Review

#### âœ… Q2ï¼šæ‰¾å‡ºå¹´ä»½1990 < Year <= 2000 å¹´çš„ç”µå½±

å†™ä¸€ä¸ªç¨‹åºï¼Œæ‰¾å‡ºå¹¶è¾“å‡º 1990 < Year <= 2000 çš„æ‰€æœ‰ç”µå½±åç§°ã€‚

In [ ]:
movie_dict = df_movie.set_index('Name')['Year'].to_dict()
for name, year in movie_dict.items():
  if 1990 < year <= 2000:
    print(name)


#### âœ… Q3ï¼šè®¡ç®—ç”µå½± ID ä¸º 3 çš„å¹³å‡è¯„åˆ†

ä» ratings ä¸­æå–æ‰€æœ‰ Movie_ID == 3 çš„è¯„åˆ†ï¼Œå¹¶è®¡ç®—å¹³å‡åˆ†ï¼ˆå››èˆäº”å…¥ä¿ç•™ 1 ä½å°æ•°ï¼‰ã€‚

æç¤ºï¼š

In [ ]:
df_rating.head(10)

In [ ]:
ratings_id_3 = df_rating[df_rating['Movie_ID'] == 3]['Rating'].tolist()
ratings_id_3[:10]

In [ ]:
total = 0
count = 0
for score in ratings_id_3:
    total += score
    count += 1
average = round(total / count, 1)
print("Movie_ID == 3 çš„å¹³åˆ†å‡", average)

#### âœ… Q4ï¼šæŠŠè¯„åˆ†è®°å½•ä¸­çš„ç”µå½±åä¹ŸåŠ ä¸Šï¼ˆå­—å…¸åˆå¹¶ç»ƒä¹ ï¼‰

ç”¨ for å¾ªç¯ï¼Œå°†æ¯æ¡è¯„åˆ†(rating)è®°å½•è¡¥å……ä¸Šè¯¥ç”µå½±çš„åç§°ï¼ˆæ¥è‡ª moviesï¼‰ï¼Œå¹¶ç»„æˆä¸€ä¸ªæ–°åˆ—è¡¨ ratings_with_nameï¼š

è¾“å‡ºç¤ºä¾‹ï¼š

In [ ]:
{
  'User_ID': 712664,
  'Rating': 5,
  'Movie_ID': 3,
  'Name': 'Character'
}

In [ ]:
movie_dict = df_movie.set_index('Movie_ID')['Name'].to_dict()
movie_dict.get(3)

In [ ]:
lst_all = []
for idx in range(len(df_rating)):
  dic_user_rating_movie = {}
  # print(df_rating.iloc[idx])
  dic_user_rating_movie['User_ID'] = int(df_rating.iloc[idx]['User_ID'])
  dic_user_rating_movie['Rating'] = int(df_rating.iloc[idx]['Rating'])

  movie_id = df_rating.iloc[idx]['Movie_ID']
  dic_user_rating_movie['Movie_ID'] = int(movie_id)
  dic_user_rating_movie['Name'] = movie_dict[int(movie_id)]
  lst_all.append(dic_user_rating_movie)

  if idx > 5000:
    break

In [ ]:
lst_all[:10]

In [ ]:
int('123')

#### âœ… Q5ï¼ˆæŒ‘æˆ˜é¢˜ï¼‰ï¼šç»Ÿè®¡æ¯éƒ¨ç”µå½±çš„è¯„åˆ†äººæ•°

è¾“å‡ºæ ¼å¼ï¼š



```
Character: 4äºº
Dinosaur Planet: 0äºº
...
```


æç¤ºï¼š
	â€¢	ç”¨å­—å…¸ç»Ÿè®¡ï¼š{"Movie_Name": count}

In [ ]:
import collections

In [ ]:
dic_cnt = collections.defaultdict(int) # initialize a dictionary
dic_cnt

In [ ]:
{key:value} # value --> int (0)

In [ ]:
for i in range(len(lst_all)):
  movie_name = lst_all[i]['Name']
  dic_cnt[movie_name] += 1 # dic_cnt[movie_name] = 0
dic_cnt